<!DOCTYPE html>
<html lang="ko">
<head>
  <%- head -%>
  <style>
    * {
      
    }
    .base-border{
      border-width: 1px 0 0 1px;
      border-color: white;
    }
    .gridList {
      font-size: 20px;
    }
    .gridList > div {
      border-bottom: 1px solid gray;
      padding: 1px;
    }
    .gridList > div > div {
      border-bottom: 0;
      padding: 0;
    }
    .gridList > a:link{
      text-decoration: none;
      color: white;
    }
    .gridList > a:visited{
      text-decoration: none;
      color: rgb(123, 0, 255);
    }
    .gridList > a:hover{
      text-decoration: underline;
      text-decoration-color: white;
    }
    @media (prefers-color-scheme: light) {
      .tmp-style-1{
        border:solid black;
      }
    }
    @media (prefers-color-scheme: dark) {
      .tmp-style-1{
        border:solid white;
      }
    }
  </style>
  <script src="/js/home/articleList.js" defer></script>
</head>
<body>
  <header alt="네비게이터">
    <nav class="navbar fixed-top navbar-light bg-dark">
      <div class="container-fluid" style="width:1200px">
        <a class="navbar-brand" href="/" style="float:left" alt="메인으로"><%- headerName -%></a>
        <a class="navbar-brand" href="/login" alt="로그인" style="float:right;display:none;">로그인</a>
      </div>
    </nav>
  </header>
  <div style="padding-top: 86px"></div>

  <div style="position:relative;margin:50px auto;width:1200px;">
    <div style="text-align:center">
      <h1><%- channelName -%></h1>
    </div>
  </div>

  <div style="position:relative;margin:0 auto 250px auto;width:1200px;height:auto">
    <div style="text-align:center">
      <button class="background-color-white font-color-black" id="writeArticle" style="border: 1px solid gray;margin:30px;font-size: 20px;">글쓰기</button>
      <div class="gridList" style="display:grid;grid-template-columns: 1fr 11fr 1fr 1fr 1fr 1fr;">
        <div class="tmp-style-1" style="border:solid;border-width:1px 0;padding:5px 0;">#</div><div class="tmp-style-1" style="border:solid;border-width:1px 0;padding:5px 0;">제목</div><div class="tmp-style-1" style="border:solid;border-width:1px 0;padding:5px 0;">글쓴이</div><div class="tmp-style-1" style="border:solid;border-width:1px 0;padding:5px 0;">조회수</div><div class="tmp-style-1" style="border:solid;border-width:1px 0;padding:5px 0;">평가</div><div class="tmp-style-1" style="border:solid;border-width:1px 0;padding:5px 0;">날짜</div>
        <%- chli -%>

      </div>
    </div>
  </div>
  
  <%- foot -%>
</body>
</html>