<!DOCTYPE html>
<html lang="ko">
<head>
  <%- head -%>
  <link rel="stylesheet" href="css/home/index.css">
  <script src="js/home/index.js" defer></script>
  <style>
    * {
      color:white;
    }
    .base-border{
      border-width: 1px 0 0 1px;
      border-color: white;
    }
    .float-left{
      float:left;
    }
    .float-right{
      float:right;
    }
    @media (max-width: 1200px){
      .float-left{
        float: none;
        width: 100%;
      }
      .float-right{
        float: none;
        width: 100%;
      }
    }
  </style>
</head>
<body style="background-color:black">
  <header alt="네비게이터">
    <nav class="navbar fixed-top navbar-light bg-dark">
      <div class="container-fluid" style="width:1200px">
        <a class="navbar-brand" href="/" style="color:white;float:left" alt="메인으로"><%- headerName -%></a>
        <a id="menu" class="navbar-brand" alt="메뉴" style="float:right;color:white;font-size:30px;cursor:pointer;"><div style="display:inline;padding:10px;"><svg style="display:inline;" xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg></div></a>
        <a class="navbar-brand" href="/login" alt="로그인" style="float:right;display:none;">로그인</a>
      </div>
    </nav>
  </header>
  <div style="padding-top: 183px"></div>
  
  <div style="position:relative;margin:50px auto;width:1200px;height:2000px">
    <div class="draggable" style="height:500px;">
      <div class="grid-part float-left" alt="실시간 베스트" style="width:550px;margin:25px;">
        <div style="font-size:30px">실시간 베스트</div>
      </div>

      <div class="grid-part float-right" alt="실시간 채팅" style="width:550px;margin:25px;">
        <div style="font-size:30px;float:left">실시간 채팅</div>
        <div style="font-size:15px;float:right;background-color:red;border-radius:5px;padding:5px;">접속중 <span id="connecting"></span></div>
        <div style="padding-top:60px;"></div>
        <input autofocus id="Lchat" type="text" name="liveChat" maxlength="100" style="background-color:black;border-color:black black gray black;border-width:0 0 1px 0;width:550px;" placeholder="채팅을 입력하세요.">
        <span id="getLive">
          <%- chat -%>
        </span>
      </div>
    </div>

    <div style="border: 1px solid black;text-align:center">
      <span style="font-size:50px;">채널</span>
      <div style="display:grid;grid-template-columns:1fr 1fr 1fr 1fr;">
        <%- channel -%>
      </div>
      <div style="width:800px;font-size:60px;display:inline-block">
      </div>
    </div>
  </div>

  <div id="app" style="position:fixed;padding:0 100px 100px 100px;top:0;left:0;width:100%;display:none;">
    <div style="padding:20px;margin:10%;background-color:black;border:1px solid white;height:400px;">
      <div style="display:grid; grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;">
        <div id="coding" style="text-align:center;cursor:pointer;">
          <div style="display:inline-block;border-radius:10px;padding:0;border:1px solid gray;background-color:gray;color:black;"><svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-code" viewBox="0 0 16 16">
            <path d="M5.854 4.854a.5.5 0 1 0-.708-.708l-3.5 3.5a.5.5 0 0 0 0 .708l3.5 3.5a.5.5 0 0 0 .708-.708L2.707 8l3.147-3.146zm4.292 0a.5.5 0 0 1 .708-.708l3.5 3.5a.5.5 0 0 1 0 .708l-3.5 3.5a.5.5 0 0 1-.708-.708L13.293 8l-3.147-3.146z"/>
          </svg></div>
          <div>사이트 제작</div>
        </div>
        <div style="text-align:center;">
          <div style="display:inline-block;border-radius:10px;padding:20px;border:1px solid gray;background-color:white;color:black;"></div>
          <div>계산기</div>
        </div>
      </div>
    </div>
  </div>

  <%- foot -%>
  <div id="values" style="display:none"><%- n -%></div>
</body>
</html>