<!DOCTYPE html>
<html lang="ko">
<head>
  <%- head -%>
  <script src="/js/home/sha256.min.js" integrity="sha512-szJ5FSo9hEmXXe7b5AUVtn/WnL8a5VofnFeYC2i2z03uS2LhAch7ewNLbl5flsEmTTimMN0enBZg/3sQ+YOSzQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/js/home/viewArticle.js" defer></script>
  <style>
    .base-border{
      border-width: 1px 0 0 1px;
      border-color: white;
    }
    button{
      background-color: black;
    }
    input[type=button]{
      border: 1px solid gray;
      border-radius: 5px;
      margin-right: 5px;
    }
  </style>
</head>
<body>
  <header alt="네비게이터">
    <nav class="navbar fixed-top navbar-light bg-dark">
      <div class="container-fluid" style="width:1200px">
        <a class="navbar-brand" href="/" style="float:left" alt="메인으로"><%- headerName -%></a>
        <a class="navbar-brand" href="/login" alt="로그인" style="float:right;display:none;">로그인</a>
      </div>
    </nav>
  </header>
  <div style="padding-top: 86px"></div>

  <span style="display:none" id="isBlock">당신이 차단한 사용자입니다.</span>

  <div style="position:relative;margin:50px auto;width:1200px;height:auto">
    <div class="draggable">
      <div style="margin:0 0 50px 0;" id="nowPath"></div><span id="channel_name" style="display:none;"><%- info.channelName -%></span>
      <div style="margin:30px 0;"><h1><%- info.title -%></h1></div>
      <div style="display:inline-block;color:gray;"><span id="time" style="color:gray;"></span>&#160;&#160; 작성자 <%- info.writer -%></div><span id="articleDate" style="display:none;"><%- (new Date(info.date)).getTime() -%></span>
      <div style="color:gray;float:right;">조회수 <%- info.viewCount -%>회</div>
      <div style="border-bottom:1px solid gray;margin:10px 0 50px 0;"></div>
      <div style="word-wrap:break-word"><%- info.article -%></div>
      <div style="height:100px;"></div>
      <button class="font-color-white" id="share" style="background-color:gray;font-size: 20px;border:0">공유<svg style="display:inline;" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-link" viewBox="0 0 16 16">
        <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"/>
        <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"/>
      </svg></button>
      <button class="background-color-white font-color-black" id="edit" style="border: 1px solid gray;font-size:20px;">수정</button>
      <button class="background-color-white font-color-black" id="delete" style="border: 1px solid gray;font-size:20px;">삭제</button>
      <button id="report" style="color:white;border:0;background-color:red;font-size:20px;float:right;margin:4px;">신고</button>
      <button id="block" style="color:white;border:0;background-color:red;font-size:20px;float:right;margin:4px;">차단 0</button>
      <div style="text-align:center;margin:50px 50px 0 50px;">
        <div class="font-color-white" id="like-button" style="cursor:pointer;display:inline-block;font-size:30px;width:100px;height:100px;border-radius:50px;background-color:gray;padding:28px 0;margin-right:30px;">좋아요</div>
        <div class="font-color-white" id="dislike-button" style="cursor:pointer;display:inline-block;font-size:30px;width:100px;height:100px;border-radius:50px;background-color:gray;padding:28px 0;">싫어요</div>
      </div>
      <div style="text-align:center;">
        <div id="like_count" style="display:inline-block;font-size:30px;width:100px;height:100px;padding:28px 0;margin-right:30px;"><%- info.likeCount -%></div>
        <div id="dislike_count" style="display:inline-block;font-size:30px;width:100px;height:100px;padding:28px 0;"><%- info.dislikeCount -%></div>
      </div>
      <div style="font-size:30px;">댓글</div>
      <div id="displayComment"></div>
      <div style="display:none;" id="info_comment"><%- JSON.stringify(info.commentLink) -%></div>
    </div>
  </div>
  
  <div style="display:none;position:absolute;top:670px;left:calc(50% - 24px);padding:auto;text-align:center;" id="spreadButton">
    <div style="display:inline;">
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
      </svg>
    </div>
  </div>

  <%- foot -%>
</body>
</html>